label {
  display: block;
  padding-top: 10px;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
}

textarea {
  height: 200px;
  resize: none;
}

main {
  width: 300px;
  margin: 0 auto;
}
