/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/***********************/
h3 {
  display: inline-block;
}

ul {
  display: inline-block;
}

li label.hide_label {
  display: none;
}

li {
  display: inline-block;
}

div.description label {
  float: left;
}

div.description textarea {
  float: left;
}

div.description::after {
  display: block;
  clear: both;
  content: "";
}

form div {
  box-sizing: border-box;
}

/*************

Body of Modal

*************/
form {
  box-sizing: border-box;
  padding: 35px 0 38px 0;
  padding-left: 30px; /* 30 / 575 */
  padding-right: 38px; /* 38 / 575 */
  width: 575px;
  background: #cecece;
}

/* Set Border Box */
div input,
div textarea,
li input {
  box-sizing: border-box;
}

/* Set label/headings widths */
div label {
  display: inline-block;
  padding-top: 10px;
}

label,
h3 {
  width: 15.30434783%; /* 88 / 507 */
  padding-right: 3.94473175%; /* 20 / 507 */
}

/* Set input widths */
ul,
input#title,
div textarea {
  width: 398px; /* 398 / 575 */
}

ul li {
  width: 118px; /* 118 / 398 */
}

li input {
  width: 100%;
}

ul li.date_span {
  width: 22px; /* 22 / 398 */
  text-align: center;
}

/* Beautify */
input,
textarea {
  border: none;
  height: 39px;
  padding-left: 10px;
}

/* Note that the ::placeholder's cannot be combined */
::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.4) }
:-moz-placeholder { color: rgba(0, 0, 0, 0.4) }
:-ms-input-placeholder { color: rgba(0, 0, 0, 0.4) }

textarea {
  resize: none;
  padding-top: 10px;
  height: 146px;
}

div.title,
div.date_container,
div.description {
  margin-bottom: 21px;
}

form input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

/* Buttons */
input[type="button"] {
  color: #ffffff;
  background-color: #148fd5;
  border-radius: 6px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 12px;
  width: 184px;
  text-align: center;
}

input#save {
  margin-left: 110px; /* 140 - 30 */
}

input#mark {
  margin-left: 18px;
}
