/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,.

b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************************************

Begin

**********************************************/
body {
  overflow: hidden;
  vertical-align: top;
  line-height: 1.5;
}

aside {
  float: left;
}

main {
  float: left;
}

a {
  display: inline-block;
  text-decoration: none;
}

main {
  width: 69.583%; /* 865 / 1200 */
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

main section {
  padding: 20px 0 0 2.312%;
  padding-right: 11.561%; /* 100 / 865 */
  width: 86.127%; /* 745 / 865 */
}

main a + a {
  float: right;
  vertical-align: middle;
  height: 19px;
  width: 19px;
  background: transparent url("assets/images/icon_trashcan.png") 0 0;
}

main h1 {
  padding-top: 36px;
  font-size: 20px;
}

main h1 + a#new_item {
  padding-top: 45px;
  font-size: 16px;
  color: #148fd5;
}

main div#cross {
  display: inline-block;
  height: 13px;
  width: 1px;
  position: relative;
  background: #148fd5;
  margin-left: 6px;
  margin-right: 20px
}

main div#cross::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 13px;
  top: 6px;
  left: -6px;
  background: #148fd5;
}

/************************

Modal

************************/
main {
  position: relative;
}

/***********************/
h3 {
  display: inline-block;
}

form ul,
form li {
  display: inline-block;
}

li label.hide_label {
  display: none;
}

div.description label {
  float: left;
}

div.description textarea {
  float: left;
}

div.description::after {
  display: block;
  clear: both;
  content: "";
}

/*************

Body of Modal

*************/
form {
  box-sizing: border-box;
  padding: 35px 0 38px 0;
  padding-left: 30px; /* 30 / 575 */
  padding-right: 38px; /* 38 / 575 */
  width: 575px;
  background: #ffffff;
}

/* Set Border Box */
form div,
div input,
div textarea,
li input {
  box-sizing: border-box;
}

/* Set label/headings widths */
div label {
  display: inline-block;
  padding-top: 10px;
}

form label,
form h3 {
  width: 15.30434783%; /* 88 / 507 */
  padding-right: 3.94473175%; /* 20 / 507 */
}

/* Set input widths */
form ul,
input#title,
div textarea {
  width: 398px; /* 398 / 575 */
}


form li input {
  width: 100%;
}

form div.date_container li {
  width: 118px; /* 118 / 398 */
}
form ul li.date_span {
  width: 22px; /* 22 / 398 */
  text-align: center;
}

/* Beautify */
form input,
form textarea {
  border: none;
  height: 39px;
  padding-left: 10px;
}

/* Note that the ::placeholder's cannot be combined */
::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.4) }
:-moz-placeholder { color: rgba(0, 0, 0, 0.4) }
:-ms-input-placeholder { color: rgba(0, 0, 0, 0.4) }

form textarea {
  resize: none;
  padding-top: 10px;
  height: 146px;
}

div.title,
div.date_container,
div.description {
  margin-bottom: 21px;
}

form input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

/* Buttons */
input[type="button"] {
  color: #ffffff;
  background-color: #148fd5;
  border-radius: 6px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 12px;
  width: 184px;
  text-align: center;
}

input#save {
  margin-left: 110px; /* 140 - 30 */
}

input#finished {
  margin-left: 18px;
}

.modal {
  display: none;
  font-size: 16px;
  position: absolute;
  z-index: 3;
  top: 105px;
  left: 12.139%; /* 105 / 865 */
  height: 400px;
  width: 575px; /* 575 / 865 */
  background-color: #ffffff;
}

.modal_layer {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  right: -99999px;
  bottom: 0;
  left: 0;
  background-color: rgba(178, 178, 178, .6);
}


/************************

List

************************/


main section ul li {
  display: inline-block;
  width: 100%;
  padding: 16px 0 0 0;
  margin-top: 16px;
  border-top: 1px solid rgba(206, 206, 206, .7);
  font-size: 16px;
  vertical-align: middle;
}

/* Target todo information */
ul.data {
  display: none;
  border-color: rgba(0, 0, 0, .1);
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  padding: 4px;
}

ul.data li {
  border-top: none;
  margin-top: 0;
}

ul.data > li:first-of-type {
  padding-top: 0;
}

ul.data li.data_date p {
  display: inline-block;
}

ul.data h4 {
  color: #477284;
}

main li > a.item {
  display: inline-block;
}

li label {
  color: #000000;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  background: transparent url("assets/images/icon_checkbox_unchecked.png") no-repeat;
  background-size: 16px 18px;
}

main label:hover {
  color: #148fd5;
  cursor: pointer;
}

main input[type="checkbox"] {
  visibility: hidden;
}

.finished {
  color: #c7c7c7;
  text-decoration: line-through;
  background: transparent url("assets/images/icon_checkbox_checked.png") no-repeat;
  background-size: 16px 18px;
}

main form a.delete {
  cursor: pointer;
}

/* Hidden List Item to Clone */
li#hidden_item {
  display: none;
}

/***********************

Aside

***********************/

aside {
  min-width: 200px;
  width: 27.917%; /* 335 / 1200 */
  background-color: #464f77;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  position: relative;
}

h2 {
  color: #c7c7c7;
  box-sizing: border-box;
  vertical-align: middle;
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: 29.851%; /* 100 / 335 */
  padding-right: 10.448%; /* 35 / 335 */
  width: 100%; /* 200 / 335 */
}

h2 img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

aside ul li {
  color: #c7c7c7;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  padding-left: 40.299%; /* 135 / 335 */
  padding-right: 10.448%; /* 35 / 335 */
  width: 100%;
}

ul li.active {
  background-color: #2A3564;
  color: #ffffff;
}

h2.all_todos,
aside ul.all_todos li {
}

h2.all_todos::after,
.all_todos li::after {
  content: "3";
  text-align: center;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  line-height: normal;
  background: #7287D8;
  display: inline-block;
  float: right;
  margin-top: 5px;
}


/********************

Media Queries

********************/
@media screen and (max-width: 800px) {
  body {
    margin-right: 0;
    width: 95%;
  }

  main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  main section {
    padding-right: 5%;
  }

  .modal {
    left: 0;
    right: 0;
    width: 100%;
  }

  aside {
    display: none;
  }

  .animate_aside {
    position: absolute;
    display: block;
    z-index: 2;
  }

  .animate_hamburger {
    position: absolute;
    display: block;
    margin-left: 210px; /* 200 + 10 */
    z-index: 2;
  }

  h2 {
    padding-left: 7.462686567%; /* 100 - 75 / 335 */
  }

  aside ul li {
    padding-left: 17.910447761%; /* 135 - 75 / 335 */
  }
}

@media screen and (max-width: 575px) {
  .modal form {
    padding: 15px;
  }

  .modal {
    background-color: transparent;
  }
}
