/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************************************************
Body-level && Shared Attributes
***************************************************************************/
html {
  height: 100%;
}

body {
  width: 1200px;
  height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

main,
aside {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

main {
  width: 865px; /* 865 / 1200 */
  background-color: #ffffff;
}

aside {
  width: 335px; /* 335 / 1200 */
}

.sidebar_background {
  position: absolute; /* Relative to body */
  background-color: #464f77;
  top: 0;
  left: 0;
  z-index: -1;
  width: 335px; /* Same as sidebar */
  height: 100%;
}

/* Classes that toggle aside and sidebar_background display */
.fixed {
  position: fixed;
  z-index: 1;
}

.fixed_background {
  position: fixed;
  background-color: #464f77;
  top: 0;
  left: 0;
  z-index: -1;
  width: 335px; /* Same as sidebar */
  height: 100%;
}

/***************************************************************************
Aside
***************************************************************************/
aside {
  color: #c7c7c7;
  font-size: 14px;
  height: auto;
}

aside h2,
aside ul,
aside li,
aside a {
  box-sizing: border-box;
}


aside h2 {
  font-size: 18px;
}

aside .active,
aside h2 a {
  color: #ffffff;
}

aside h2 {
  margin: 70px 32px 11px 102px;
  padding: 8px 0 5px 35px;
  background: transparent url('assets/images/icon_list.png') no-repeat;
}

aside h2.completed_todos {
  margin-top: 65px;
  background: transparent url('assets/images/icon_checked.png') no-repeat;
}

aside h2 span.todos_left {
  color: #ffffff;
	width: 27px;
	height: 19px;
  border-radius: 12px;
  margin: 0;
}

aside li a {
  color: #a2a6ba;
  padding: 0 32px 0 137px;
  display: block;
  height: 40px;
  line-height: 40px;
}

aside span.todos_left {
  float: right;
  background-color: #6b7292;
  border-radius: 100%;
  line-height: 18px;
  height: 18px;
  width: 18px;
  text-align: center;
  margin-top: 10px; /* (a height(40px) - circle height(18px)) / 2 */
}

aside a.active {
  display: block;
  background-color: #383f5f;
}

/***************************************************************************
Main Content
***************************************************************************/
main {
  padding: 23px 0 0 20px;
  padding-right: 11.561%; /* 100 / 865 */
  font-size: 14px;
  position: relative;
  height: 100%;
}

main > a,
main h1,
main ul li {
  padding-left: 12px;
}

main a#hamburger {
  visibility: hidden;
}

.position_hamburger_abs {
  position: absolute;
  left: 347px; /* 335 + 12 */
  top: 23px;
}

main h1 {
  font-size: 18px;
  padding-top: 23px;
  padding-bottom: 45px;
}

main h1 span#left_on_page {
  display: inline-block;
  margin-left: 20px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: #148fd5;
  border-radius: 100%;
  text-align: center;
}

main a#new_todo {
  color: #148fd5;
}

main ul li {
  margin-top: 16px;
  border-top: solid 1px #e7e7e7;
  padding-top: 18px;
  width: 100%;
}

h4#update {
	padding: 10px;
	font-size: 14px;
}

main ul li#clone {
	display: none;
}

main li a.trashcan {
  float: right;
}

/* Checkbox positioning */
main ul li {
  position: relative;
}

main li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* List item complete/incomplete */
main li label span {
  color: #000000;
  background: transparent url("assets/images/icon_checkbox_unchecked.png") no-repeat;
  padding-left: 27px;
}

main li span:hover {
  color: #148fd5;
  cursor:  pointer;
}

main li input[type="checkbox"]:checked ~ span {
  background: transparent url("assets/images/icon_checkbox_checked.png") no-repeat;
}

li > span {
	padding-right: 10px;
}

.complete {
	text-decoration: line-through;
  color: #b3b3b3;
}

div#cross {
  position: relative;
  display:inline-block;
  width: 1px;
  height: 13px; /* Fix this. Not odd. So not centered */
  margin-left: 6px;
  margin-right: 20px;
  background-color: #148fd5;
}

div#cross::after {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 13px; /* Fix this. Not odd. So not centered */
  top: 6px;
  left: -6px;
  background-color: #148fd5;
  content: "";
}

/***************************************************************************
Modal
***************************************************************************/
#modal_background,
#modal {
  display: none;
}

div#modal_background {
  position: absolute;
  top: 0;
  right: -99999px;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
}

div#modal {
  position: absolute;
  top: 107px;
  left: 105px; /* media: 105 / 865 */
  height: 400px;
  width: 575px;
  background-color: #ffffff;
  z-index: 2;
}

#modal form{
  height: 100%;
  width: 100%;
  font-size: 15px;
}

form div,
form label,
form input,
form h3,
form fieldset,
form textarea {
  box-sizing: border-box;
}

form input,
textarea {
  border: 0;
}

form div {
  padding-right: 38px;
  padding-left: 30px;
}

form div.container_title,
form div.container_dates {
  margin-top: 48px;
}

form div.container_description {
  margin-top: 43px;
}

form div + div {
  margin-top: 21px;
}

/* Align Input Columns */
form input[type="text"],
form div.container_dates fieldset,
form textarea {
  width: 398px;
}

/* Align heading/label Columns */
form label[for="title"],
form h3,
form label[for="description"] {
  display: inline-block;
  padding-right: 21px;
  width: 88px;
}

/* Adjust Due Dates */
form div.container_dates fieldset {
  display: inline-block;
}

fieldset span {
  display: inline-block;
  padding: 0 8px;
}

fieldset input#day,
fieldset input#month {
  width: 118px;
}

fieldset input#year {
  width: 119px;
}

form input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

/* Adjust container_description contents */
form div.container_description {
  vertical-align: top;
}

form label[for="description"],
form textarea {
  float: left;
  padding-top: 5px;
}

form textarea {
  height: 137px;
  padding: 5px;
  resize: none;
}

form div.container_description::after {
  display: block;
  content: "";
  clear: both;
}

/* Submit Buttons */
form div.container_buttons {
  clear: both;
  margin-top: 23px;
  padding-left: 119px;
  width: 100%; /* 398 + 88 */
  margin-left: auto;
  margin-right: auto;
}

form div.container_buttons::after {
  display: block;
  content: "";
  clear: both;
}

form div.container_buttons input[type="button"] {
  float: left;
  font-size: 16px;
  color: white;
  background-color: #148fd5;
  border: 0;
  width: 184px;
  padding-top: 11px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 7px;
}

form div.container_buttons input#save {
  margin-right: 18px;
}

/***************************************************************************
Media Queries
***************************************************************************/
@media only screen and (max-width: 1350px) {
  body {
    width: 100%;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
  }

  main a#hamburger {
    visibility: inherit;
  }

  h1.hamburger-padding {
    padding-top: 44px; /* Current padding + height of hamburger*/
  }
}
