body {
	color: #41687F;
	background-color: #213440;
	font-family: Helvetica, Arial, sans-serif;
}

main {
	background-color: #82D0FF;
	width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 20px 40px;
	text-align: center;
}

label, input {
	display: block;
	box-sizing: border-box;
	margin: 8px auto;
}

label {
	padding: 8px 0;
}

input[type="submit"] {
	padding: 4px 40px;
	border-radius: 4px;
	border-width: 0;
	background-color: #75BBE5;
}

li { padding: 10px; }
li + li { border-top: 1px solid #ececec;}